nav {
    
    margin-top: -30px;
    border-bottom: 1px solid rgba(179, 176, 176, 0.644);
    box-shadow: 0 18px 14px -14px rgba(85, 125, 199, 0.562);
}


.nav-logo {
    height: 34px;
    width: 138px;
}

.nav-avatar {
    height: 40px;
    width: 40px;
}
nav ion-icon {
    font-size: 25px;
}

aside ul {
    font-size: 15px;
    
}

aside li:hover{
    background-color: rgb(124, 4, 124);
    color: white;
}

.span-blu {
    color: blue;
}

main {
    background-color: rgba(232, 238, 243, 0.733);
    
}
